{% extends 'layout/base.html' %}
{% load static %}


{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/about.css' %}">
    <title>About Page</title>
</head>

<body>
    <section id="about">
        <h1 class="headings">ABOUT ME</h1>
        <div id="pic">
            <img src="{% static '/images/profilelogo.png' %}" alt="not found" />
            <div id="intro">
                <h2>VANSH SRIVASTAV</h2>
                <p>
                    I'm a web Developer(fresher).I spend my whole day,practically every
                    day,Experimenting with HTML,CSS and Javascript; dabbling with Php
                    and Wordpress.I build websites that delight and inform.I do it well.
                </p>
                <p>I'm curious,and I enjoy work that challenges me to learn something
                    new and stretch in a different direction.I do my best to stay on top
                    of changes.
                </p>
                <p>At the moment, I'm a developer working as a freelancer.</p>
            </div>
        </div>
    </section>
</body>

</html>
{% endblock body %}