{% extends 'layout/base.html' %}
{% load static %}


{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <title>Contact Page</title>
</head>

<body>
    <section id="contact">
        <h1 class="headings">CONTACT</h1>

        <form action="" class="form">
            <a href="http://gmail.com">shaikhanisha1010@gmail.com</a>
            <input type="text" name="name" class="input" placeholder="Enter Your Name" />
            <input type="email" name="email" class="input" placeholder="Enter Your Email Id" />
            <textarea name="msg" id="msd" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
            <input type="submit" value="SEND" id="send" />
        </form>
    </section>
</body>

</html>
{% endblock body %}