{% extends 'layout/base.html' %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <title>Home Page</title>
</head>

<body>
    <section id="home">
        <img src="{% static '/images/profilelogo.png' %}" alt="">
        <div class="main">
            <h1 class="headings">
                I AM <br />
                VANSH SRIVASTAV
            </h1>
            <h2>Website Developer</h2>
            <br />
            <button class="btn"><a href="{% url 'contact' %}">Contact Me</a></button>
        </div>
    </section>
</body>

</html>
{% endblock body %}