{% extends 'layout/base.html' %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/home.css' %}">
    <title>Home Page</title>
</head>

<body>
    <!-- Header Section -->
    <section class="p-4 p-md-5 mb-4">
        <div class="row">
            <div class="main-slide col-2">
                <div class="content">
                    <p>🌟 Website Developer </p>
                    <h1>Hello! I'am</h1>
                    <h1>Vansh Srivastav</h1>
                    <p class="discription">Hi! I am a Learner. I am a person who is positive about every aspect of
                        life.
                        Always curious to learn new things. My aim is to become a knowledgeable person and in a
                        respectable position.</p>
                    <p><a class="btn" href="{% url 'contact' %}">Contact me</a></p>
                </div>
            </div>
            <div class="col-2">
                <img class="bd-placeholder-img" src="{% static '/images/aboutimage.png' %}">
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="p-4 p-md-5 mb-4" id="about">
        <div class="row">
            <h1 class="heading">About me</h1>
            <div class="col-2">
                <img class="bd-placeholder-img" src="{% static '/images/aboutimage.png' %}">
            </div>
            <div class="main-slide col-2">
                <div class="about-content">
                    <p>My name is <span>Vansh Srivastav</span></p>
                    <p class="about-discription">Hi! I am a Learner. I am a person who is positive about every aspect of
                        life.
                        Always curious to learn new things. My aim is to become a knowledgeable person and in a
                        respectable position.
                    </p>
                    <div class="bio">
                        <h5>Name<p>Vansh Srivastav</p>
                        </h5>
                        <h5>Phone<p>+91 70807 35344</p>
                        </h5>
                    </div>
                    <div class="bio">
                        <h5>Email<p>vanshsrivastav@gmail.com</p>
                        </h5>
                    </div>
                    <div class="education">
                        <h5>Education</h5>
                        <p>Bachelor of Computer Application in Veer Bahadur Singh Purvanchal University Jaunpur</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section class="skills" id="skills">
        <h1 class="heading">My Skills</h1>
        <div class="skill">
            <div class="skill-html">
                <h2>HTML</h2>
                <div class="skill-bar">
                    <div class="skill-level html">95%</div>
                </div>
            </div>
            <div class="skill-css">
                <h2>CSS</h2>
                <div class="skill-bar">
                    <div class="skill-level css">90%</div>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="skill-html">
                <h2>Python</h2>
                <div class="skill-bar">
                    <div class="skill-level python">75%</div>
                </div>
            </div>
            <div class="skill-css">
                <h2>Javascript</h2>
                <div class="skill-bar">
                    <div class="skill-level javascript">80%</div>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="skill-html">
                <h2>React</h2>
                <div class="skill-bar">
                    <div class="skill-level react">60%</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Service Section -->
    <section class="services" id="services">
        <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <img src="{% static '/images/websitedeveloper.jpg' %}" alt="" />
                <h1 class="headings">Website Developer</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                    odio molestias adipisci a. Tempora omnis labore excepturi, sequi
                    nostrum, quae distinctio dicta quo illo rem natus. A unde laboriosam
                    voluptates.
                </p>
            </div>
            <div class="box">
                <img src="{% static '/images/websitedesign.jpg' %}" alt="" />
                <h1 class="headings">Website Design</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                    odio molestias adipisci a. Tempora omnis labore excepturi, sequi
                    nostrum, quae distinctio dicta quo illo rem natus. A unde laboriosam
                    voluptates.
                </p>
            </div>
            <div class="box">
                <img src="{% static '/images/androiddeveloper.jpg' %}" alt="" />
                <h1 class="headings">Android Application</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                    odio molestias adipisci a. Tempora omnis labore excepturi, sequi
                    nostrum, quae distinctio dicta quo illo rem natus. A unde laboriosam
                    voluptates.
                </p>
            </div>
        </div>
    </section>


      

</body>

</html>
{% endblock body %}