{% extends 'layout/base.html' %}
{% load static %}


{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/portfolio.css' %}">
    <title>Portfolio Page</title>
</head>

<body>
    <section id="portfolio">
        <h1 class="headings">PORTFOLIO</h1>
        <div class="gallery">
            <img src="Portfolio/pizza/img1.png" alt="not found" />
            <img src="Portfolio/pizza/img2.png" alt="not found" />
            <img src="Portfolio/pizza/img3.png" alt="not found" />
            <img src="Portfolio/pizza/img4.png" alt="not found" />
            <img src="Portfolio/pizza/img5.png" alt="not found" />
            <img src="Portfolio/pizza/img6.png" alt="not found" />
            <img src="Portfolio/pizza/img7.png" alt="not found" />
            <img src="Portfolio/pizza/img8.png" alt="not found" />

            <video controls autoplay loop width="400" height="250" src="Portfolio/choco/VID-20211029-WA0001.mp4"
                type="video/mp4"></video>
        </div>
    </section>
    
</body>

</html>
{% endblock body %}