{% extends 'layout/base.html' %}
{% load static %}


{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <title>Skills Page</title>
</head>

<body>
    <section id="services">
        <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <img src="{% static '/images/websitedeveloper.jpg' %}" alt="" />
                <h1 class="headings">Website Developer</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                    odio molestias adipisci a. Tempora omnis labore excepturi, sequi
                    nostrum, quae distinctio dicta quo illo rem natus. A unde laboriosam
                    voluptates.
                </p>
            </div>
            <div class="box">
                <img src="{% static '/images/websitedesign.jpg' %}" alt="" />
                <h1 class="headings">Website Design</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                    odio molestias adipisci a. Tempora omnis labore excepturi, sequi
                    nostrum, quae distinctio dicta quo illo rem natus. A unde laboriosam
                    voluptates.
                </p>
            </div>
            <div class="box">
                <img src="{% static '/images/androiddeveloper.jpg' %}" alt="" />
                <h1 class="headings">Android Application</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                    odio molestias adipisci a. Tempora omnis labore excepturi, sequi
                    nostrum, quae distinctio dicta quo illo rem natus. A unde laboriosam
                    voluptates.
                </p>
            </div>
        </div>
    </section>
</body>

</html>
{% endblock body %}