#home {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    display: 500px;
    height: 500px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
}

#intro h2 {
    font-family: Serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

#intro p{
    font-family: Sans-serif;
    line-height: 2;
    margin-right: 7rem;
}

